// COLORS
$color-deep-pink: rgb(254, 98, 145);
$color-text-pink: rgb(145, 0, 44);
$color-link-active: rgb(126, 0, 38);
$color-light-pink: rgb(254, 212, 224);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-hero-bg: rgb(55, 0, 17);


// FONT FAMILY
$great-vibes: 'Great Vibes', cursive;
$roboto: 'Roboto', sans-serif;