.common-hero-1 {
    height: 85vh;

    @include respond(tab-land) {
        height: calc(100vh - 5.4rem);
    }

    background-image: linear-gradient(rgba($color-hero-bg, .13), rgba($color-hero-bg, .13)),
    url("../img/Wedding-Event.jpg");
    background-position: bottom,
    center;
    background-size: cover;
}

.common-hero-textbox {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;

}


.common-hero-title {
    display: inline-block;
    padding: 2rem 5rem 1.55rem 5rem;
    background-color: rgba($color-black, .5);
    border-radius: 4rem;
}