.common-hero-1{
    height: 85vh;
    @include respond(tab-land){
        height: calc(100vh - 5.4rem);
    }
    background-image: linear-gradient(rgba($color-hero-bg,.13), rgba($color-hero-bg,.13)), url("../img/Wedding-Event.jpg");
    background-position: bottom, center;
    background-size: cover;

}