*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('gabriola.woff') format('woff');
}


body{
    box-sizing: border-box;
    font-family: Gabriola;
}

.common-container-1 {
	max-width: 111rem;
    margin: 0 auto;
}

.common-container-2 {
	max-width: 70rem;
    margin: 0 auto;
}

.common-container-3 {
	max-width: 85rem;
    margin: 0 auto;
}