.heading--1 {
    font-weight: 500;
    color: $color-white !important;
    text-transform: uppercase;
}

.heading--1,
.heading--2 {
    font-weight: 300;
    font-size: 3rem;
    color: $color-text-pink;
    text-align: center;
    line-height: 1;

    @include respond(phone) {
        font-size: 3.6rem;
    }

    @include respond(tab-land) {
        font-size: 5rem;
    }
}


.heading--3 {
    font-size: 2.5rem;
    color: $color-text-pink;

}

.home-hero__title {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;


    @include respond(phone) {
        flex-direction: row;
    }

    img {
        width: clamp(6rem, 4vw, 8rem);
    }
}


.common-para-1 {
    font-size: clamp(2rem, 2.5vw, 2.8rem);
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: $color-black;
}

.common-para-2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: $color-black;
}


/////////////////////////
// SERVICE PAGE
.services__title-desc{
    font-family: $roboto;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

.services-item{
    &__title{
        font-family: $great-vibes;
        font-weight: 400;
        text-align: center;
    }

    &__details{
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: $roboto;
    }

}

.plans__item{

    &-title{
        font-size: 3rem;
        color: $color-text-pink;
        font-family: $great-vibes;
        font-weight: 500;
        text-align: center;
    }

    &-details{
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: $roboto;
    }

}